<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    
    <title>Survey Complete</title>
</head>

<body>
    <p><b>Thanks for completing the survey!!!</b></p>
    <p>
        You are being redirected back to the <a href="/landing">homepage</a>...
    </p>
</body>

</html>